@font-face {
  font-family: "PlayfairDisplay";
  src: url("../public/fonts/playfair-display-variable.woff2") format("woff2");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../public/fonts/playfair-display-variable-italic.woff2") format("woff2");
  font-weight: 200 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("../public/fonts/Figtree[wght].woff2") format("woff2");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("../public/fonts/Figtree-Italic[wght].woff2") format("woff");
  font-weight: 200 800;
  font-style: italic;
  font-display: swap;
}